

.form-input{
    margin-bottom: 1rem;
    background-color: var(--c-e6ecf0);
    border: 2px solid var(--c-fff);
    border-radius: 8px;
    color: var(--c-333);
}

.category-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--c-333);
    margin-bottom: 0.75rem;
}