node_modules
*.db
*.log
*.env
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
/code/backend/scratch
kill_all.bat
kill_all.ps1
start_all.bat
start_all.ps1
code/gap_analysis.md.resolved
code/gap_analysis.md
code/mqtt server/mqtt-broker/docker-compose.yml
code/mqtt server/mqtt-broker/config/mosquitto.conf
Doc_for_fish_info.md
